

<section class="jumbotron" >
  <h1>Our trainings</h1> 
</section>

<!-- presentation section -->

<section id="activities" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
              <img src="assets/img/diversified.jfif" alt="diversified">
          </div>
          <h4>Diversified</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
              <img src="assets/img/cryptography.jpg" alt="cryptography">
          </div>
          <h4>Cryptography</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
              <img src="assets/img/rev.jfif" alt="rev">
          </div>
          <h4>Reverse engineering</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
              <img src="assets/img/binexp.jfif" alt="binexp">
          </div>
          <h4>Binary exploitation</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
              <img src="assets/img/steganography.jfif " alt="Steganography">
          </div>
          <h4>Steganography</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
              <img src="assets/img/webnetworking.jpg" alt="webnetworking"><i class="lnr lnr-users"></i>
          </div>
          <h4>Web and Networking</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- cryptography section -->

<section class="section">
  <h4>Cryptography training</h4>
  <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
            <img  src="assets/img/crypt/crypt1.jpg">
            
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
            <img  src="assets/img/crypt/crypt2.jpg">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img  src="assets/img/crypt/crypt3.jpg">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.8s">
            <img  src="assets/img/crypt/crypt4.jpg">
          </div>
        </div>
    </div>
    <p>Cryptography is the art and science of protecting information 
      by transforming an encrypted message into an unreadable format, called cipher text.
      Earlier cryptography was effectively synonymous with encryption but nowadays cryptography is mainly based on mathematical theory and computer science practice.
      It is applied in technical solutions for increasing cyber security 
      and also found in block-chain technologies and other computer algorithms, such as hashing.
      Fo those who were eager to dig the cryptography's world and to figure out the art of encrypting and securing your messages, they had the chance to join us and profit from our rich training and an enticing program through 3-hour CTF challenges.</p>
  </div>
</section>
  
<!-- diversified section -->

<section class="section">
<h4>diversified training</h4>
  <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
            <img src="assets/img/div/div1.jpg">
            
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
            <img style="border:none;height:180px!important;width:260px!important;" 
            src="assets/img/div/div2.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img src="assets/img/div/div3.jpg">
          </div>
        </div>
    </div>
    <p>We offer a wide range of challenges through this diversified workshop. These training-related activities aim to to cover essential work-related skills, techniques.</p>
  </div>
</section>

<!-- <img class="md-avatar" 
style="border-radius: 50%; border: 1px solid black;height:60px!important;width:60px!important;" 
ng-src="member.user_picture" /> -->

<!-- steganography section -->

<section class="section">
<h4>Steganography training</h4>
<div class="container-fluid text-center bg-grey">
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
        <img style="border:none;height:160px!important;width:220px!important;" 
        src="assets/img/steg/steg1.jpg">
        
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
        <img style="border:none;height:160px!important;width:220px!important;" 
        src="assets/img/steg/steg2.jpg">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
        <img style="border:none; height:160px!important;width:220px!important;" 
        src="assets/img/steg/steg3.jpg">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail wow fadeInDown" data-wow-delay="0.8s">
        <img style="border:none;height:160px!important;width:220px!important;" 
        src="assets/img/steg/steg4.jpg">
      </div>
    </div>
</div>
<p>Steganography is the technique of hiding secret data within an ordinary, non-secret, file or message in order to avoid detection. The use of steganography can be combined with encryption as an extra step for hiding or protecting data.  
  Forms of steganography have been used for centuries and in modern digital steganography, data is first encrypted or obfuscated in some other way and then inserted, using a special algorithm, into data that is part of a particular file format such as a JPEG image, audio or video file. The secret message can be embedded into ordinary data files in many different ways.</p>
</div>
</section>

<!-- webnetworking section -->

<section class="section">
  <h4>Web and networking training</h4>
  <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
            <img style="border:none;height:160px!important;width:260px!important;" 
            src="assets/img/webnet/webnet1.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
            <img style="border:none;height:160px!important;width:260px!important;" 
             src="assets/img/webnet/webnet2.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img style="border:none;height:160px!important;width:260px!important;" 
             src="assets/img/webnet/webnet3.jpg">
          </div>
        </div>
    </div>
  <p>Websites all around the world are programmed using various programming languages. While there are specific vulnerabilities in each programming language that the developer should be aware of, there are fundamental issues to the internet that can show up regardless of the chosen language or framework. 
      Therefore, CSI prepared many CTF challenges that will help you learn about these vulnerabilities and teach you where the user needs to exploit a bug to gain some kind of higher level privilege.
      By assisting to this workshop, students had the chance to dive deeper into the world of web security and learn advanced techniques. </p>
  </div>
</section>

<!-- reverse engineering section -->

<section class="section">
  <h4>Reverse engineering training</h4>
  <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
            <img  src="assets/img/rev/rev1.jpg">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
            <img  src="assets/img/rev/rev2.jpg">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img  src="assets/img/rev/rev3.jpg">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.8s">
            <img  src="assets/img/rev/rev4.jpg">
          </div>
        </div>
    </div>
    <p>Reverse engineering is a process in which software, machines, aircraft, architectural structures and other products are deconstructed to extract design information from them.
      Software reverse engineering involves reversing a program's machine code (the string of 0s and 1s that are sent to the logic processor) back into the source code that it was written in, using program language statements.
      Often, reverse engineering involves deconstructing individual components of larger products.
      The reverse engineering process enables you to determine how a part was designed so that you can recreate it as it involves working backward through the original design process.
      To help our community know more about reverse engineering and SMT solvers, CSI ENSI organized on the 11th of January at ENSI a workshop presented by the talented Aymen Borgi.</p>
  </div>
</section>
  
<!-- binary exploitation section -->

<section class="section">
  <h4>Binary exploitation training</h4>
  <div class="container-fluid text-center bg-grey">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.2s">
            <img  src="assets/img/binr/binr1.jpg">
            
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.4s">
            <img  src="assets/img/binr/binr2.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img  src="assets/img/binr/binr3.jpg">
          </div>
        </div>
    </div>
    <p>A good engineer thinks in reverse and asks himself about the stylistic consequences of the components and systems he proposes.
      _ Helmut Jahn _</p><br>
      <p>
      For those who were curious about this catchy quote, they had the opportunity to assist to our workshop where they could
       work on their skills and discover more about cyber security techniques.</p>
  </div>
</section>