<section class="hero-area">
    <div class="hero-slides">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(../../assets/img/bg-img/41594.jpg);"></div>
            <!-- Slide Content -->
            <div class="hero-slides-content text-center" align="center">
                <h2>Hackzone <span>Hackzone</span></h2>
                <p>Among Tunisia's biggest cyber security events</p>
                <br>
                <br>
                <br>
                <div class="wrapper">
                <div align="center"><button class="nav-link btn btn-outline-light animated fadeInRight" routerLink="/hzform">REGISTRATION FORM</button></div>
            </div>
        </div>
            <!-- Big Text -->
            
        </div>
    </div>
    

<div class="bg-gradients"></div>
<div class="container">
    <div id="timer" data-animated="FadeIn">
        <p id="message">THE NEXT HACKZONE WILL BE IN ...</p>
<div class="flex-col-c-sb size1  "  >                 
    <div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120 ">  
      <div class="flex-w flex-c-m cd100 ">
          <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 " id="days"></span>
            <span class="btn btn-dark ">Days</span>
          </div>
          <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9" id="hours"></span>
            <span class="btn btn-dark">Hours</span>
          </div>
          <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 " id="minutes"></span>
            <span class="btn btn-dark ">Minutes</span>
          </div>
          <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 " id="seconds"></span>
            <span class="btn btn-dark">Seconds</span>
          </div>
      </div> </div> </div></div></div>

<div class="bg-gradients"></div>

<div class="about-us bg-overlay"   id="about">
    <div class="container plus">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>About Hackzone </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- About logo -->
            <div class="col-12 col-lg-5">
                <div>
                    <img src="../../assets/img/core-img/logo.png" class="about-logo-event" alt="">
                </div>
            </div>
            <!-- About Content -->
            <div class="col-12 col-lg-6">
                <div class="about-content">
                    <h4>Among Tunisia's biggest cyber security events</h4>
                    <p>Hack Zone is the flagship event of cyber security community. Organized every year since 2013, Hack Zone has gone beyond the borders of ENSI to become, over the years, an unmissable event in terms of cyber security.
                        After the previous editions success, Hack Zone returns this year in its 8th ONLINE edition being the unmissable meeting of the cyber security curious and passionated people in Tunisia.
                        Students from all over Tunisia will be able to take concrete initiatives and contribute to the establishment of a better digital world. Participants will be able to take advantage of workshops and video conferences presented by high-grade speakers and the most cyber security experts.</p>
                    <img src="../../assets/img/core-img/signature.png" class="about-logo-csi" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradients"></div>
<div class="containerx gallery-container">
    <div class="stic" >
      <h1 >Previous editions photos</h1>
    </div>
   
    
    <div class="tz-gallery">
  
        <div class="row">
  
          <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/hkz/1.jpg">
                <img src="../../assets/images/hkz/1.jpg" alt="Bridge">
            </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/2.jpg">
                  <img src="../../assets/images/hkz/2.jpg" alt="Park">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/3.jpg">
                  <img src="../../assets/images/hkz/3.jpg" alt="Tunnel">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/4.jpg">
                  <img src="../../assets/images/hkz/4.jpg" alt="Traffic">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/5.jpg">
                  <img src="../../assets/images/hkz/5.jpg" alt="Coast">
              </a>
          </div> 
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/10.jpg">
                  <img src="../../assets/images/hkz/10.jpg" alt="Rails">
              </a>
          </div>
          
          
            
            
        </div>   
  
        <div class="slidedwn" id="more">more</div>
        <div id="slide">
        <div class="row" >
  
          
          <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/hkz/7.jpg">
                <img src="../../assets/images/hkz/7.jpg" alt="Bridge">
            </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/8.jpg">
                  <img src="../../assets/images/hkz/8.jpg" alt="Park">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/9.jpg">
                  <img src="../../assets/images/hkz/9.jpg" alt="Tunnel">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/6.jpg">
                  <img src="../../assets/images/hkz/6.jpg" alt="Park">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../../assets/images/hkz/11.jpg">
                  <img src="../../assets/images/hkz/11.jpg" alt="Tunnel">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/hkz/12.jpg">
                <img src="../../assets/images/hkz/12.jpg" alt="">
            </a>
        </div>
        </div>
        </div>
  
  </div>
  </div>

<div class="bg-gradients"></div>

<div class="bg-gradients"></div>

<div class="container">
    <h2>OUR PARTNERS</h2>
    <div class="center">
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/poste.jpg" height=150 width=150  alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/infor 300x300.png" height=150 width=150 alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/accessNow.png" height=50 width=250 alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/io 300x300.png" height=150 width=150 alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/athena.png" height=150 width=250 alt=""></a></div>
    </div>
</div>

<div class="bg-gradients"></div>