<section class="hero-area">
    <div class="hero-slides">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(../../assets/img/bg-img/41594.jpg);"></div>
            <!-- Slide Content -->
            <div class="hero-slides-content text-center">
                <h2>Hackzone <span>Hackzone</span></h2>
                <p>Tunisia's biggest cyber security event</p>
            </div>
            <!-- Big Text -->
            <h2 class="big-text">Hackzone</h2>
        </div>
    </div>

<div class="bg-gradients"></div>

<div class="container">
    <div id="timer" data-animated="FadeIn">
        <p id="message">THE NEXT HACKZONE WILL BE IN ...</p>
        <div id="days" class="timer_box"> <div [innerHTML]="day" class="font-number"></div><div class="font-text">Day</div> </div>
        <div id="hours" class="timer_box"> <div [innerHTML]="hour" class="font-number"></div><div  class="font-text">Hour</div> </div>
        <div id="minutes" class="timer_box"> <div [innerHTML]="minute" class="font-number"></div><div  class="font-text">Minute</div> </div>
        <div id="seconds" class="timer_box"> <div [innerHTML]="second" class="font-number"></div><div  class="font-text">Second</div> </div>
    </div>
</div>

<div class="bg-gradients"></div>

<div class="about-us bg-overlay"   id="about">
    <div class="container plus">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>About Hackzone</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- About logo -->
            <div class="col-12 col-lg-5">
                <div>
                    <img src="../../assets/img/core-img/logo.png" class="about-logo-event" alt="">
                </div>
            </div>
            <!-- About Content -->
            <div class="col-12 col-lg-6">
                <div class="about-content">
                    <h4>Tunisia's biggest cyber security event</h4>
                    <p>Hack Zone Tunisia is an event organized by ENSI Information Security Club (CSI ENSI). 
                        The event is initially an initiative of the members of the club to sensitize the community towards discipline and to answer certain behaviours and security measures during the use of Internet and IT tools. 
                        This service lasts 24 consecutive hours and is divided to a theoretical part organised in the form of conferences and workshops, and a practical part holding challenges on machines where participants use the concepts and notions aquired.</p>
                    <img src="../../assets/img/core-img/signature.png" class="about-logo-csi" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradients"></div>

<div class="bg-gradients"></div>

<div class="container">
    <h2>OUR PARTNERS</h2>
    <div class="center">
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/poste.jpg" height=150 width=150  alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/infor 300x300.png" height=150 width=150 alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/accessNow.png" height=50 width=250 alt=""></a></div>
      <div class="responseimg center"><a href="#" target="_blank"><img src="../../assets/img/sponsors-img/partners/io 300x300.png" height=150 width=150 alt=""></a></div>
    </div>
</div>

<div class="bg-gradients"></div>