.preloader-left{
    position: fixed;
    top:0;
    left:0;
    right:50%;
    bottom:0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;

    
}
.preloader-right{
    position: fixed;
    top:0;
    left:50%;
    right:0;
    bottom:0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
    
}