<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h3 class="hacked">A propos CSI</h3>
        <p>
            Club Sécurité Informatique de l'Ecole Nationale des Sciences de l'Informatique Campus Mannouba
        </p>
        <p class="social">
          <a href="https://www.facebook.com/groups/395308404479297/" target="_blank"><span><i class="fab fa-facebook-f"></i></span></a>
          <a href="https://www.instagram.com/csi_ensi/" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
        </p>
      </div>
      <div class="col-md-7 ml-auto">
        <div class="row site-section pt-0">
          <div class="col-md-8 mb-4 mb-md-0">
            <h3 class="hacked">Navigation</h3>
            <div class="row">
              <ul class="list-unstyled col-md-6">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/presetation">Presentation</a></li>
                <li><a routerLink="/">Formation</a></li>
                <li><a routerLink="/">Evenements</a></li>
              </ul>
              <ul class="list-unstyled col-md-6">
                <li><a routerLink="/sponsors">Sponsors</a></li>
                <li><a routerLink="/magazine">Magazine</a></li>
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
              <img src="../../assets/img/logo.png" style="height:100%;width:100%" alt="csi" />
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-md-7">
        <p class="copyright">
          &copy; Copyright CSI. Tous les droits sont reserves
        </p>
      </div>
    </div>
  </div>
</footer>
