<br>
<br>

<div class="bg-gradients"></div>
    <section id="formation">
        <br> <br> <br>
    <h1 class="text-center text-white display-3 hacked title wow lightSpeedIn" data-wow-offset="120">Sponsors who trusted us</h1>
    <br> <br>
  </section>
  
<div class="bg-gradients"></div>

<div class="bg-gradients"></div>




     <!-- sponsors Section Start -->
     
     

        <div class="row center">
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="responseimg center">
                        <a href="https://www.infor.com/fr-fr" target="_blank">  <img src="/assets/img/sponsors-img/partners/infor.png" height=150 width=150  alt=""></a>
                
                    </div>

            </div>

            
                <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                    
                        <div class="responseimg center">
                            <a href="https://www.accessnow.org/" target="_blank">   <img src="/assets/img/sponsors-img/partners/accessNow.png" height=130 width=250></a>
                           
                        </div>
                    
                </div>
          
                
                    <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                            <div class="pic">
                                <a href="https://integrationobjects.com/" target="_blank">  <img src="/assets/img/sponsors-img/partners/io 300x300.png" height=150 width=150  alt=""></a>
                                
                            </div>
                      
                    </div>

                    <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                            <div class="pic">
                                <a href="https://www.athena-experts.com/index.php/fr/accueil-2/" target="_blank">  <img src="/assets/img/sponsors-img/partners/athena.png" height=150 width=250  alt=""></a>
                                
                            </div>
                        
                    </div>

                    <br>

                    <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                            <div class="pic">
                                <a href="https://www.poste.tn/" target="_blank">  <img src="/assets/img/sponsors-img/partners/La-Poste.png" height=200 width=150  alt=""></a>
                    
                            </div>
                        
                    </div>


                    <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                        <div class="pic">
                            <a href="https://www.nextstep.tn" target="_blank"> <img src="/assets/img/sponsors-img/partners/nextstep.png" height=150 width=150  alt=""></a>
                
                        </div>
                    
                </div>

                <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                    <div class="pic">
                        <a href="https://www.ansi.tn/" target="_blank">  <img src="/assets/img/sponsors-img/partners/ansi.png"height=150 width=150  alt=""></a>
            
                    </div>
                </div>

                    <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                        
                        <div class="pic">
                            <a href="https://www.sodexo.tn/" target="_blank"> <img src="/assets/img/sponsors-img/partners/sodexo.png"height=150 width=200  alt=""></a>
                
                        </div>
                
                    </div>

        </div>
              
      
<div class="bg-gradients"></div>

<div class="bg-gradients"></div>
                        
                        
                  