<p>hackme works!</p>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">





<div class="teaser">
  <video autoplay loop>
    <source src="../../assets/images/teaser.mp4">
  </video>
</div>

<div class="title">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class="hmiyc" >
    <h1>HACK ME IF YOU CAN</h1>
  </div>
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
</div>



<div class="discription  ">
  <div class="intern"   >
    
    
    <div class="discription2">
      
      <div class="paragraph  "   >
        <b style="font-size: 20px;">about</b>
        <p >Our event, which is organized yearly since 2012,  aims to strengthen
          the participants knowledge in cyber security.
          The program will feature 4 hours of CTF challenges with a coffee break.
          Problems are based on real-world cases and for almost every level.
          
        </p>
      </div>
      <div class="paragraph"  >
        <b style="font-size: 20px;">why to attend?</b>
        <p><span style="font-size: 20px; font-family:'Times New Roman', Times, serif">
          we </span> 
          share a mission of spreading the cyber security culture among participants.
          Hack Me If You Can represents a good opportunity for participants to test their skills in this field, to enhance their problem-solving skills, to gain critical hands on practice and to be well trained for Hack Zone challenges.
            
          
        </p>
      </div>
      <div class="paragraph " >
        <b style="font-size: 20px;">when and where?</b>
      <p><span style="font-size: 20px; font-family:'Times New Roman', Times, serif">
        The 8th edition </span>is held on<strong> the 15th of January 2020 </strong>at the national Computer Science school (ENSI).
          We are eager to see you among us on the next editions.
          Come to show us your abilities.
          It’s a must-attend event!
      </p>
      </div>
    </div> 
  </div>
</div>

  <!-- Services -->
<div id="page-top">
  <section class="content-section bg-primary  text-center" >
    <div class="container">
      <div class="content-section-heading">
        <h4 class="mb-5">What We Offer</h4>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-envelope " ></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>challenges</strong>
          </h5>
          <p class="text-faded mb-0">4 hours CTF challenges </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>objectives</strong>
          </h5>
          <p class="text-faded mb-0">Improve your cyber security skills</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-trophy"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>participants</strong>
          </h5>
          <p class="text-faded mb-0">More than 50 teams</p>
        </div>
        <div class="col-lg-3 col-md-6 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-graduation"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>HMIYC</strong>
          </h5>
          <p class="text-faded mb-0">8th edition</p>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="containerx gallery-container">
  <div class="stic" >
    <h1  style="padding-top: 20px;">our 8th edition</h1>
  </div>
 
  
  <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/hmiyc/img1.png">
              <img src="../../assets/images/hmiyc/img1.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/hmiyc/img2.png">
                <img src="../../assets/images/hmiyc/img2.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/hmiyc/img3.png">
                <img src="../../assets/images/hmiyc/img3.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img4.png">
                <img src="../../assets/images/hmiyc/img4.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img5.png">
                <img src="../../assets/images/hmiyc/img5.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img6.png">
                <img src="../../assets/images/hmiyc/img6.png" alt="Rails">
            </a>
        </div>
        
        
          
          
      </div>   

      <div class="slidedwn" id="more">more</div>
      <div id="slide">
      <div class="row" >

        
        <div class="col-sm-6 col-md-4">
          <a class="overlay lightbox" href="../../assets/images/hmiyc/img7.png">
              <img src="../../assets/images/hmiyc/img7.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img8.png">
                <img src="../../assets/images/hmiyc/img8.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img9.png">
                <img src="../../assets/images/hmiyc/img9.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img22.png">
                <img src="../../assets/images/hmiyc/img22.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img10.png">
                <img src="../../assets/images/hmiyc/img10.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img13.png">
                <img src="../../assets/images/hmiyc/img13.png" alt="Rails">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="overlay lightbox" href="../../assets/images/hmiyc/img14.png">
              <img src="../../assets/images/hmiyc/img14.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img17.png">
                <img src="../../assets/images/hmiyc/img17.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img18.png">
                <img src="../../assets/images/hmiyc/img18.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img19.png">
                <img src="../../assets/images/hmiyc/img19.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img20.png">
                <img src="../../assets/images/hmiyc/img20.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="overlay lightbox" href="../../assets/images/hmiyc/img21.png">
                <img src="../../assets/images/hmiyc/img21.png" alt="Rails">
            </a>
        </div>
      </div>
      </div>

</div>
</div>






















