<p>hackme works!</p>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">





<div class="teaser">
  <video autoplay loop>
    <source src="../../assets/images/teaser.mp4">
  </video>
</div>

<div class="title">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class="hmiyc" >
    <h1>HACK ME IF YOU CAN</h1>
  </div>
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
</div>



<div class="discription  ">
  <div class="intern"   >
    <div class="about">
      <p>about</p>
    </div>
    
    <div class="discription2">
      
      <div class="paragraph  "   >
        <b style="font-size: 20px;">about</b>
        <p ><span style="font-size: 20px; font-family:'Times New Roman', Times, serif">Hack me if you can</span> is an annual event focused on helping improve
          cybersecurity knowledge.
          The program will feature 4 hours of CTF challenges with a coffee break.
      
          Problems are based on real-world cases. Because of the numerous different participators,
          a range of varied challenges will be ready for almost every level.
        </p>
      </div>
      <div class="paragraph"  >
        <b style="font-size: 20px;">why to attend?</b>
        <p><span style="font-size: 20px; font-family:'Times New Roman', Times, serif">
          we </span>  share a mission of spreading the culture of personal web security.This kind of challenges is a great way to learn hacking techniques,
            strengthen your problem-solving skills, and gain critical hands on practice. 
          This event is organized within the framework of practicing for the challenges of our main event HackZone.
        </p>
      </div>
      <div class="paragraph " >
        <b style="font-size: 20px;">when and where?</b>
      <p><span style="font-size: 20px; font-family:'Times New Roman', Times, serif">
        The 8th edition </span>will be held on<strong>the 15th of January 2020 </strong>at the national school of Computer science (ENSI).
          We are eager to see you among us on the day of the event.
          Come and show us your skills.
          It’s a must-attend event!
      </p>
      </div>
    </div> 
  </div>
</div>

  <!-- Services -->
<div id="page-top">
  <section class="content-section bg-primary  text-center" >
    <div class="container">
      <div class="content-section-heading">
        <h4 class="mb-5">What We Offer</h4>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-envelope " ></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>challenge</strong>
          </h5>
          <p class="text-faded mb-0">4 hours CTF challenges </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>objectives</strong>
          </h5>
          <p class="text-faded mb-0">Improve your cyber security skills</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-trophy"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>participants</strong>
          </h5>
          <p class="text-faded mb-0">More then 30 teams</p>
        </div>
        <div class="col-lg-3 col-md-6 circle">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-graduation"></i>
          </span>
          <h5 style="color: rgb(68, 0, 0);">
            <strong>h.m.i.y.c</strong>
          </h5>
          <p class="text-faded mb-0">8th edition</p>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="containerx gallery-container">
  <div class="stic" >
    <h1  style="padding-top: 20px;">our 8th edition</h1>
  </div>
 
  
  <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/1.jpg">
              <img src="../../assets/images/hmiyc/img1.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/2.jpg">
                <img src="../../assets/images/hmiyc/img2.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/4.jpg">
                <img src="../../assets/images/hmiyc/img3.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/3.jpg">
                <img src="../../assets/images/hmiyc/img4.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/5.jpg">
                <img src="../../assets/images/hmiyc/img5.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/6.jpg">
                <img src="../../assets/images/hmiyc/img6.png" alt="Rails">
            </a>
        </div>
        
        
          
          
      </div>   

      <div class="slidedwn" id="more">more</div>
      <div id="slide">
      <div class="row" >

        
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/1.jpg">
              <img src="../../assets/images/hmiyc/img7.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/2.jpg">
                <img src="../../assets/images/hmiyc/img8.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/4.jpg">
                <img src="../../assets/images/hmiyc/img9.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/3.jpg">
                <img src="../../assets/images/hmiyc/img22.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/5.jpg">
                <img src="../../assets/images/hmiyc/img10.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/6.jpg">
                <img src="../../assets/images/hmiyc/img13.png" alt="Rails">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../../assets/images/1.jpg">
              <img src="../../assets/images/hmiyc/img14.png" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/2.jpg">
                <img src="../../assets/images/hmiyc/img17.png" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/4.jpg">
                <img src="../../assets/images/hmiyc/img18.png" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/3.jpg">
                <img src="../../assets/images/hmiyc/img19.png" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/5.jpg">
                <img src="../../assets/images/hmiyc/img20.png" alt="Coast">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/6.jpg">
                <img src="../../assets/images/hmiyc/img21.png" alt="Rails">
            </a>
        </div>
      </div>
      </div>

</div>




<!--section class=" area-padding">
  <div class="container">
      <div class="area-heading">
          <h3 class="line">Our Recent News</h3>
          <p>Together female let signs for for fish fowl may first.</p>
      </div>

      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-blog">
                  <div class="thumb">
                      <img class="img-fluid" src="../../assets/images/background-2019.jpg" alt="">
                  </div>
                  <div class="short_details">
                      <div class="meta-top d-flex">
                          <a href="#"><i class="ti-folder"></i> ENSI</a>
                          <a href="#"><i class="ti-time"></i>jan 23, 2019</a>
                      </div>
                      <a class="d-block" href="single-blog.html">
                          <h4>Dry were bring you're created </h4>
                      </a>
                      <p>Great upon after said. Set may place dry said gathered to deserve on the place.</p>
                  </div>
                  
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-blog">
                  <div class="thumb">
                      <img class="img-fluid" src="../../assets/images/background-2017.jpg" alt="">
                  </div>
                  <div class="short_details">
                      <div class="meta-top d-flex">
                          <a href="#"><i class="ti-folder"></i> ENSI</a>
                          <a href="#"><i class="ti-time"></i> dec 13, 2017</a>
                      </div>
                      <a class="d-block" href="single-blog.html">
                          <h4>Selding shall seasons fowl fish</h4>
                      </a>
                      <p>Great upon after said. Set may place dry said gathered to deserve on the place.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-blog">
                  <div class="thumb">
                      <img class="img-fluid" src="../../assets/images/background-2016.jpg" alt="">
                  </div>
                  <div class="short_details">
                      <div class="meta-top d-flex">
                          <a href="#"><i class="ti-folder"></i> ENSI</a>
                          <a href="#"><i class="ti-time"></i> dec 14, 2016</a>
                      </div>
                      <a class="d-block" href="single-blog.html">
                          <h4>Dry were bring you're created </h4>
                      </a>

                      <p>Great upon after said. Set may place dry said gathered to deserve on the place.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>




<section class="home-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-widget wow bounceInLeft">
          <i class="fa fa-map-marker fa-4x"></i>
          <h5>Main Office</h5>
          <p>
            école nationnal <br />des sciences de l'informatique
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" wow bounceInUp">
          <i class="fa fa-phone fa-4x"></i>
          <h5>Call</h5>
          <p>
            96 969 696<br> 98 989 898

          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-widget wow bounceInRight">
          <i class="fa fa-envelope fa-4x"></i>
          <h5>Email us</h5>
          <p>
            csiensi@gmail.com<br /> csiensi@gmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <h5>We're on social networks</h5>
        <ul class="social-network" style=" display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;">
          <li><a href="https://www.facebook.com/CSI.ENSI/">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span></a>
          </li>
          
          <li><a href="https://www.instagram.com/csi_ensi/?hl=fr">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span></a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</section-->













