<!-- Presentation -->

<!-- Header Section Start -->

<header id="video-area" data-stellar-background-ratio="0.5">    
        <div id="block" data-vide-bg="assets/video/csi-intro"></div>
        
        <div class="overlay overlay-2"></div>      
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-10">
              <div class="contents text-center">
                
                <div class="wrap">
                  <div class="csi" data-text="CSI">CSI</div> 
                </div>
                
              </div>
            </div>
          </div> 
        </div>      
      </header>
      <!-- Header Section End -->
    
      <!-- About Section Start -->
      <section id="about" class="section" data-stellar-background-ratio="0.2">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>Us</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
             <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">CSI is a Cybersecurity club based in ENSI, National School of Computer Sciences - Tunisia.<br>
             It's an open community for all cybersecurity enthusiasts.<br>
             The club's main purpose is to educate students and raise their awareness about cybersecurity within a friendly and interactive atmosphere.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                <div class="box-item left">
                  <span class="icon">
                    <i class="lnr lnr-lock"></i>
                  </span>
                  <div class="text">
                    <h4>Cryptography</h4>
                    <p>The art and science of protecting information by transforming an encrypted message into a cipher text.</p>
                  </div>
                </div>
                <div class="box-item left">
                  <span class="icon">
                    <i class="lnr lnr-file-add"></i>
                  </span>
                  <div class="text">
                    <h4>Steganography</h4>
                    <p>The technique of hiding secret data within an ordinary, non secret file or message in order to avoid detection.</p>
                  </div>
                </div>
                <div class="box-item left">
                  <span class="icon">
                    <i class="lnr lnr-earth"></i>
                  </span>
                  <div class="text">
                    <h4>Network Security</h4>
                    <p>The network has a lot of vulnerabilities which a user can exploit to gain some kind of higher level privilege.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="show-box wow fadeInDown animated" data-wow-offset="10">
                <div class="floating">
                  <img src="/assets/img/about/logo1.png" alt="CSI logo">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                <div class="box-item right">
                  <span class="icon">
                    <i class="lnr lnr-flag"></i>
                  </span>
                  <div class="text">
                    <h4>Capture The Flag</h4>
                    <p>A CTF is a competition between students used as a learning tool that can sharpen their cybersecurity techniques.</p>
                  </div>
                </div>
                <div class="box-item right">
                  <span class="icon">
                    <i class="lnr lnr-warning"></i>
                  </span>
                  <div class="text">
                    <h4>Hack Me If You Can</h4>
                    <p>A cybersecurity competition at ENSI, based on 4 hours CTF challenges about real-world cases and complex problems.</p>
                  </div>
                </div>
                <div class="box-item right">
                  <span class="icon">
                    <i class="lnr lnr-star"></i>
                  </span>
                  <div class="text">
                    <h4>Hack Zone Tunisia</h4>
                    <p>One of the greatest cybersecurity events in Tunisia. 24 hours at ENSI to meet with experts and compete with the best hackers.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Section End -->
      
      <!-- Team Section Start -->
      <section id="team" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Team</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
             <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We are more than just a team.<br>
             We are a FAMILY !<br>
             #LONG_LIVE_CSI</p>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                  <div class="our-team">
                      <div class="pic">
                          <img src="/assets/img/team/Olfa.jpg">
                          <ul class="social">
                              <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                              <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                              <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                          </ul>
                      </div>
                      <div class="team-content">
                          <h3 class="title">Olfa Ben Soussia</h3>
                          <span class="post">Admin</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
                  <div class="our-team">
                      <div class="pic">
                          <img src="/assets/img/team/Oussema.jpg">
                          <ul class="social">
                            <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                            <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                            <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                        </ul>
                      </div>
                      <div class="team-content">
                          <h3 class="title">Oussema Bhouri </h3>
                          <span class="post">Miner</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.6s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Dora.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Dora Moatamri</h3>
                        <span class="post">Scanner</span>
                    </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.8s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Myriame.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Myriame Kharbout</h3>
                        <span class="post">Scanner</span>
                    </div>
                </div>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Zaineb.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Zaineb Mahdouani</h3>
                        <span class="post">Growth Hacker</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Chemlali.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Mohammed Chemlali</h3>
                        <span class="post">Daemon</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.6s">
              <div class="our-team">
                  <div class="pic">
                      <img src="/assets/img/team/Chouket.jpg">
                      <ul class="social">
                        <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                        <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                        <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                    </ul>
                  </div>
                  <div class="team-content">
                      <h3 class="title">Houssemeddine Chouket</h3>
                      <span class="post">Daemon</span>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.8s">
              <div class="our-team">
                  <div class="pic">
                      <img src="/assets/img/team/Akram.jpg">
                      <ul class="social">
                        <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                        <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                        <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                    </ul>
                  </div>
                  <div class="team-content">
                      <h3 class="title">Akram Kadri</h3>
                      <span class="post">White Hat</span>
                  </div>
              </div>
            </div>
        </div>
        <br>
          <div class="row justify-content-md-center">
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Sayahi.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Nacer Sayahi</h3>
                        <span class="post">Daemon</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/img/team/Wahib.jpg">
                        <ul class="social">
                          <li><a href="#" class="fa fa-facebook icon-3d"></a></li>
                          <li><a href="#" class="fa fa-instagram icon-3d"></a></li>
                          <li><a href="#" class="fa fa-linkedin icon-3d"></a></li>
                      </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Wahib Mzali</h3>
                        <span class="post">Daemon</span>
                    </div>
                </div>
            </div>
            
        </div>
    
        </div>
        </section>
    
      <!-- Team Section End -->
    
      <!-- Activities Section Start -->
      <section id="activities" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Activities</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We dive into the world of cybersecurity.<br>We serve the community.</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                <div class="icon">
                  <i class="lnr lnr-pencil"></i>
                </div>
                <h4>Content Writing</h4>
                <p>We share daily "Hack Culture" posts on our social media to promote cybersecurity awareness and to engage students in expanding their knowledge of cybersecurity and information security.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                <div class="icon">
                  <i class="lnr lnr-rocket"></i>
                </div>
                <h4>Trainings</h4>
                <p>We provide free, diversified cybersecurity trainings and learning materials to all students at ENSI. Our trainings include, but not limited to, Cryptography, Steganography and Network Security.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                <div class="icon">
                  <i class="lnr lnr-flag"></i>
                </div>
                <h4>CTF Challenges</h4>
                <p>We offer the opportunity for students to practice cybersecurity techniques and concepts throughout a wide range of CTF challenges.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                <div class="icon">
                  <i class="lnr lnr-laptop"></i>
                </div>
                <h4>Hackathons</h4>
                <p>We organize CTF competitions and hackathons to challenge students, to develop their teamwork abilities and to sharpen their cybersecurity skills by simulating real-world cases and complex problems.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
                <div class="icon">
                  <i class="lnr lnr-briefcase"></i>
                </div>
                <h4>Collaborations</h4>
                <p>We build powerful collaborations with other cybersecurity clubs from different institutions to develop our network and to expand cybersecurity culture.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                <div class="icon">
                  <i class="lnr lnr-users"></i>
                </div>
                <h4>Meetings</h4>
                <p>We organize monthly meetings with our members to talk about new security advances and to discuss some cybersecurity concepts and topics.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Activities Section End -->
    
      <!-- Start Introductory Video Section -->
      <section class="video-promo section">
      <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="video-promo-content text-center">
                  <h2>Our Introductory Video</h2>
                  <p>Learn more about us.</p>
                  <a href="https://www.youtube.com/watch?v=APlfrnPSvIA" class="video-popup"><i class="lnr lnr-film-play"></i></a>
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Introductory Video Section -->
    
      <!-- Portfolio Section -->
      <section id="portfolios" class="section">
        <!-- Container Starts -->
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Portfolio</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Our portfolio reflects our commitement to cybersecurity.<br> It shows our recent works for the community.</p>
          </div>
          <div class="row">          
            <div class="col-md-12">
              <!-- Portfolio Controller/Buttons -->
              <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
                <a class="control mixitup-control-active btn btn-common" data-filter="all">
                  All 
                </a>
                <a class="control btn btn-common" data-filter=".hackculture">
                  Hack Culture 
                </a>
                <a class="control btn btn-common" data-filter=".training">
                  Trainings
                </a>
                <a class="control btn btn-common" data-filter=".hackathon">
                  Hackathons 
                </a>
              </div>
              <!-- Portfolio Controller/Buttons Ends-->          
    
              <!-- Portfolio Recent works -->
              <div id="portfolio" class="row wow fadeInUp" data-wow-delay="0.8s">
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC1.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC1.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC2.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC2.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC3.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC3.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC4.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC4.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC5.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC5.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC6.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC6.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC7.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC7.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC8.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC8.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC9.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC9.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC10.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC10.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC11.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC11.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC12.jpg">
                        <img src="/assets/img/portfolio/Hack-Culture/HC12.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Cryptography.jpg">
                        <img src="/assets/img/portfolio/Trainings/Cryptography.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Steganography.jpg">
                        <img src="/assets/img/portfolio/Trainings/Steganography.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Web.jpg">
                        <img src="/assets/img/portfolio/Trainings/Web.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Reverse.jpg">
                        <img src="/assets/img/portfolio/Trainings/Reverse.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackathon">
                  <div class="portfolio-item">
                    <div class="shot-item">
                      <a class="overlay lightbox" href="/assets/img/portfolio/Hackathons/HackMe.jpg">
                        <img src="/assets/img/portfolio/Hackathons/HackMe.jpg" alt="" />  
                        <i class="lnr lnr-plus-circle item-icon"></i>
                      </a>
                    </div>               
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
        <!-- Container Ends -->
      </section>
      <!-- Portfolio Section Ends -->
    
      <!-- Team Section Start -->
    
      <!-- Team Section Ends -->
    
      <!-- Counter Section Start -->
      <div class="counters section" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row"> 
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="wow fadeInUp" data-wow-delay=".2s">
                <div class="facts-item"> 
                  <div class="icon">
                    <i class="lnr lnr-rocket"></i>
                  </div>                
                  <div class="fact-count">
                    <h3><span class="counter">32</span>%</h3>
                    <h4>Trainings</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="wow fadeInUp" data-wow-delay=".4s">
                <div class="facts-item">
                  <div class="icon">
                    <i class="lnr lnr-flag"></i>
                  </div>                
                  <div class="fact-count">
                    <h3><span class="counter">569</span></h3>
                    <h4>CTF Challenges</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="wow fadeInUp" data-wow-delay=".6s">
                <div class="facts-item">
                  <div class="icon">
                    <i class="lnr lnr-users"></i>
                  </div>                
                  <div class="fact-count">
                    <h3><span class="counter">100</span>+</h3>
                    <h4>Active Members</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="wow fadeInUp" data-wow-delay=".8s">
                <div class="facts-item">
                  <div class="icon">
                    <i class="lnr lnr-laptop"></i>
                  </div>                
                  <div class="fact-count">
                    <h3><span class="counter">14</span></h3>
                    <h4>Hackathons</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Counter Section End -->
    
      <!-- Subcribe Section Start -->
      <div id="subscribe" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Newsletter</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe to get all the latest news from us.</p>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
                <form class="text-center form-inline wow fadeInUp" data-wow-delay="0.3s">
                  <input class="mb-20 form-control" name="email" placeholder="Your Email Address">
                  <button class="sub_btn">subscribe</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Subcribe Section End -->
    
    <!-- End of presentation -->