

<!-- About Section Start -->
<section id="about" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>Us</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
       <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our Cyber Security Community (CSI) was founded within the National Computer Science School in 2010.<br>
       Since its creation, it has provided continuous and attractive sessions dedicated to create the awareness that puts security at the top of engineering students minds.<br>
       </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
          <div class="box-item left">
            <span class="icon">
              <img class="mt-4" src="../assets/images/lnr-lock.png" alt="lock">
            </span>
            <div class="text">
              <h4>Cryptography</h4>
              <p>The art and science of protecting information by transforming an encrypted message into a cipher text.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <img class="mt-4" src="../assets/images/file.png" alt="file">
            </span>
            <div class="text">
              <h4>Steganography</h4>
              <p>The technique of hiding secret data within an ordinary, non secret file or message in order to avoid detection.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <img class="mt-4" src="../assets/images/lnr-earth.png" alt="earth">
            </span>
            <div class="text">
              <h4>Network Security</h4>
              <p>The network has some vulnerabilities which a user can exploit to gain higher level privilege.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="show-box wow fadeInDown animated" data-wow-offset="10">
          <div class="floating">
            <img src="/assets/img/about/logo1.png" alt="CSI logo">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
          <div class="box-item right">
            <span class="icon">
              <img class="mt-4" src="../assets/images/lnr-flag.png" alt="flag">
            </span>
            <div class="text">
              <h4>Capture The Flag</h4>
              <p>A CTF is an information security competition that challenges contestants to solve a variety of tasks.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <img class="mt-4" src="../assets/images/lnr-warning.png" alt="wrning">
            </span>
            <div class="text">
              <h4>Hack Me If You Can</h4>
              <p>A 4-hour CTF competition where problems are based on real-world cases and for almost every level.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <img class="mt-4" src="../assets/images/lnr-star.png" alt="star">
            </span>
            <div class="text">
              <h4>Hack Zone Tunisia</h4>
              <p>A 24-hour event at ENSI to meet with cyber security experts and compete with the best hackers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Team Section Start -->
<section id="team" class="section">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Team</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
       <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We are more than just a team.<br>
       We are a FAMILY !<br>
       #LONG_LIVE_CSI</p>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
            <div class="our-team">
                <div class="pic">
                    <img src="/assets/img/team/Olfa.jpg">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=100010122673309" class="fa fa-facebook icon-3d"></a></li>
                       
                        <li><a href="https://www.linkedin.com/in/olfa-ben-soussia-2203b414a/" class="fa fa-linkedin icon-3d"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <h3 class="title">Olfa Ben Soussia</h3>
                    <span class="post">Admin</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
            <div class="our-team">
                <div class="pic">
                    <img src="/assets/img/team/Oussema.jpg">
                    <ul class="social">
                      <li><a href="https://www.facebook.com/Ouss.Bh" class="fa fa-facebook icon-3d"></a></li>
                     
                      <li><a href="https://www.linkedin.com/in/oussema-bhourii-409298173/" class="fa fa-linkedin icon-3d"></a></li>
                  </ul>
                </div>
                <div class="team-content">
                    <h3 class="title">Oussema Bhouri </h3>
                    <span class="post">Miner</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.6s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Dora.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=100009482556692" class="fa fa-facebook icon-3d"></a></li>
                    
                    <li><a href="https://www.linkedin.com/in/dora-moatamri-b3b7b3187/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Dora Moatamri</h3>
                  <span class="post">Scanner</span>
              </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.8s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Myriame.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/myriame.kharbout.1" class="fa fa-facebook icon-3d"></a></li>
                  
                    <li><a href="https://www.linkedin.com/in/mariem-kharbout-27692616a/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Myriame Kharbout</h3>
                  <span class="post">Scanner</span>
              </div>
          </div>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Zaineb.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/zai.nouba.351" class="fa fa-facebook icon-3d"></a></li>
                    
                    <li><a href="https://www.linkedin.com/in/zaineb-mahdouani-024102176/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Zaineb Mahdouani</h3>
                  <span class="post">Growth Hacker</span>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Chemlali.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=100012957006260" class="fa fa-facebook icon-3d"></a></li>
                 
                    <li><a href="https://www.linkedin.com/in/mohamed-chemlali-350971176/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Mohammed Chemlali</h3>
                  <span class="post">Daemon</span>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.6s">
        <div class="our-team">
            <div class="pic">
                <img src="/assets/img/team/Chouket.jpg">
                <ul class="social">
                  <li><a href="https://www.facebook.com/profile.php?id=100015076620190" class="fa fa-facebook icon-3d"></a></li>
                
                  <li><a href="https://www.linkedin.com/in/houssemeddine-chouket-4b91b7198/" class="fa fa-linkedin icon-3d"></a></li>
              </ul>
            </div>
            <div class="team-content">
                <h3 class="title">Houssemeddine Chouket</h3>
                <span class="post">Daemon</span>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.8s">
        <div class="our-team">
            <div class="pic">
                <img src="/assets/img/team/Akram.jpg">
                <ul class="social">
                  <li><a href="https://www.facebook.com/profile.php?id=100000742367874" class="fa fa-facebook icon-3d"></a></li>
      
                  <li><a href="https://www.linkedin.com/in/akram-kadri-583070167/" class="fa fa-linkedin icon-3d"></a></li>
              </ul>
            </div>
            <div class="team-content">
                <h3 class="title">Akram Kadri</h3>
                <span class="post">White Hat</span>
            </div>
        </div>
      </div>
  </div>
  <br>
    <div class="row justify-content-md-center">
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.2s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Sayahi.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/yahya.sayahi" class="fa fa-facebook icon-3d"></a></li>
               
                    <li><a href="https://www.linkedin.com/in/med-naceur-sayahi-6060a8183/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Nacer Sayahi</h3>
                  <span class="post">Daemon</span>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="0.4s">
          <div class="our-team">
              <div class="pic">
                  <img src="/assets/img/team/Wahib.jpg">
                  <ul class="social">
                    <li><a href="https://www.facebook.com/wahib.mzali.7" class="fa fa-facebook icon-3d"></a></li>
        
                    <li><a href="https://www.linkedin.com/in/wahib-mzali-46b1491a0/" class="fa fa-linkedin icon-3d"></a></li>
                </ul>
              </div>
              <div class="team-content">
                  <h3 class="title">Wahib Mzali</h3>
                  <span class="post">Daemon</span>
              </div>
          </div>
      </div>
      
  </div>

  </div>
  </section>

<!-- Team Section End -->

<!-- Activities Section Start -->
<section id="activities" class="section">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Activities</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We dive into the world of cyber security.<br>We serve the community.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-pencil.png" alt="pencil">
          </div>
          <h4>Content Writing</h4>
          <p>We share daily posts ("Hack Culture" / "Most known hackers") on our social media to promote cyber security awareness and to engage students in expanding their security knowledge.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-rocket.png" alt="rocket">
          </div>
          <h4>Trainings</h4>
          <p>We provide free, diversified cyber security trainings and learning materials to all students at ENSI. Our trainings include, but not limited to, Cryptography, Steganography, Reverse engineering, Web and networking.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-flag.png" alt="flag">
          </div>
          <h4>CTF Challenges</h4>
          <p>We offer the opportunity for students to discover and practice cyber security techniques and concepts throughout a wide range of CTF challenges.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-laptop.png" alt="laptop">
          </div>
          <h4>Competitions</h4>
          <p>We organize CTF competitions to challenge contestants, to develop their teamwork abilities and to sharpen their cybersecurity skills by simulating real-world cases and complex problems.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-briefcase.png" alt="brfcase">
          </div>
          <h4>Collaborations</h4>
          <p>We build powerful collaborations with other cyber security clubs from different schools to widen our network and to expand our activities.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
            <img class="mt-4" src="../assets/images/lnr-users.png" alt="users">
          </div>
          <h4>Meetings</h4>
          <p>We organize monthly meetings with our members to talk about new security advances and to discuss some cyber security concepts and topics.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Activities Section End -->

<!-- Start Introductory Video Section -->
<section class="video-promo section">
<div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="video-promo-content text-center">
            <h2>Our Introductory Video</h2>
            <p>Find more about us.</p>
            <a href="https://www.youtube.com/watch?v=APlfrnPSvIA" class="video-popup"><img class="mt-4" src="../assets/images/lnr-film-play.png" alt="film"></a>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- End Introductory Video Section -->

<!-- Portfolio Section -->
<section id="portfolios" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Portfolio</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Our portfolio reflects our commitement to the community.<br> It contains our recent posts in our social media.</p>
    </div>
    <div class="row">          
      <div class="col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
          
          
          <a class="control btn btn-common" data-filter=".Hack-Culture">
            Hack Culture 
          </a>
          <a class="control btn btn-common" data-filter=".Hack-Culture">
            Most known hackers
          </a>
          <a class="control btn btn-common filterbutton" data-filter="trainings">
            Trainings
          </a>
          <a class="control btn btn-common" data-filter=".hackathon">
            Competitions 
          </a>
        </div>
        
        <!-- Portfolio Controller/Buttons Ends-->          

        <!-- Portfolio Recent works -->
        <div id="portfolio" class="row wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/1.png">
                  <img src="/assets/img/portfolio/Hack-Culture/1.png" alt="" />  
        
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/2.png">
                  <img src="/assets/img/portfolio/Hack-Culture/2.png" alt="" />  
                 
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/3.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/3.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC1.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC1.jpg" alt="" />  
               
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC2.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC2.jpg" alt="" />  
              
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC3.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC3.jpg" alt="" />  
                
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC4.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC4.jpg" alt="" />  
          
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC5.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC5.jpg" alt="" />  
                
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC6.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC6.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC7.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC7.jpg" alt="" />  
              
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC8.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC8.jpg" alt="" />  
               
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC9.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC9.jpg" alt="" />  
               
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC10.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC10.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC11.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC11.jpg" alt="" />  
                
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hack-Culture/HC12.jpg">
                  <img src="/assets/img/portfolio/Hack-Culture/HC12.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/10.png">
                  <img src="/assets/img/portfolio/hackers/10.png" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/9.png">
                  <img src="/assets/img/portfolio/hackers/9.png" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/8.jpg">
                  <img src="/assets/img/portfolio/hackers/8.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/7.jpg">
                  <img src="/assets/img/portfolio/hackers/7.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/6.jpg">
                  <img src="/assets/img/portfolio/hackers/6.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/5.jpg">
                  <img src="/assets/img/portfolio/hackers/5.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/4.jpg">
                  <img src="/assets/img/portfolio/hackers/4.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/3.jpg">
                  <img src="/assets/img/portfolio/hackers/3.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/2.jpg">
                  <img src="/assets/img/portfolio/hackers/2.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackculture">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/hackers/1.jpg">
                  <img src="/assets/img/portfolio/hackers/1.jpg" alt="" />  
             
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
            <div class="portfolio-item boxes" data-category="trainings">
              <div class="shot-item boxes" data-category="trainings">
                <a class="overlay lightbox"  href="/assets/img/portfolio/Trainings/Cryptography.jpg">
                  <img src="/assets/img/portfolio/Trainings/Cryptography.jpg" alt="" />  
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Steganography.jpg">
                  <img src="/assets/img/portfolio/Trainings/Steganography.jpg" alt="" />  
               
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Web.jpg">
                  <img src="/assets/img/portfolio/Trainings/Web.jpg" alt="" />  
                 
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/Reverse.jpg">
                  <img src="/assets/img/portfolio/Trainings/Reverse.jpg" alt="" />  
                 
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix training">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Trainings/binary.jpg">
                  <img src="/assets/img/portfolio/Trainings/binary.jpg" alt="" />  
               
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackathon">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hackathons/HackMe.jpg">
                  <img src="/assets/img/portfolio/Hackathons/HackMe.jpg" alt="" />  
                 
                </a>
              </div>               
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mix hackathon">
            <div class="portfolio-item">
              <div class="shot-item">
                <a class="overlay lightbox" href="/assets/img/portfolio/Hackathons/hkz.jpg">
                  <img src="/assets/img/portfolio/Hackathons/hkz.png" alt="" />  
                 
                </a>
              </div>               
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->

<!-- Team Section Start -->

<!-- Team Section Ends -->

<!-- Counter Section Start -->
<div class="counters section" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"> 
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="wow fadeInUp" data-wow-delay=".2s">
          <div class="facts-item"> 
            <div class="icon">
              <i class="lnr lnr-rocket"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">32</span>%</h3>
              <h4>Trainings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="wow fadeInUp" data-wow-delay=".4s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-flag"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">369</span></h3>
              <h4>CTF Challenges</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="wow fadeInUp" data-wow-delay=".6s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-users"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">100</span>+</h3>
              <h4>Active Members</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="wow fadeInUp" data-wow-delay=".8s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-laptop"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">14</span></h3>
              <h4>Competitions</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Counter Section End -->



<!-- End of presentation -->